.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 25px 25px;

  background-color: hsl(166, 45%, 70%);
}

.footerContainer h2 {
  font-weight: 600;
  font-size: 2rem;
  color: hsl(168, 34%, 32%);
}

.footerContainer ul {
  list-style: none;
  padding: 0;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  width: 95%;
  color: hsl(168, 34%, 38%);
}

.footerSocial {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 50px 0;
}

.footerLinks li:hover {
  color: white;
  cursor: pointer;
}

.socialIcons:hover {
  fill: white;
}

.footerSocial li:hover {
  cursor: pointer;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
