.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 25px;
  min-width: 320px;
  max-width: 500px;
  background-color: hsl(166, 45%, 70%);
}

.footerContainer h2 {
  font-weight: 600;
  font-size: 2rem;
  color: hsl(168, 34%, 32%);
}

.footerContainer ul {
  list-style: none;
  padding: 0;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: hsl(168, 34%, 38%);
}

.footerSocial {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 50px 0;
}
