/* mobile styles 0 - 550px */

.navContainer {
  display: flex;
  background-color: hsl(200, 100%, 62%);
  padding: 25px;
  min-width: 280px;
}

.navHeader {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  color: white;
}

.navHeader a {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: -5px;
}

.navHeader .mobileButton {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.75rem;
  line-height: 0;
}
