.navContainer {
  display: flex;
  padding: 25px 25px;
  background-color: hsl(200, 99%, 62%);
  min-width: 320px;
  max-width: 375px;
}

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
}

.navHeader a {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
}

.mobileButton {
  display: flex;
  font-size: 1.5em;
  padding: 0;
  border: none;
  background-color: hsl(200, 99%, 62%);
  color: white;
  cursor: pointer;
}
