.container {
  padding: 0 0;
  width: 100%;
}

.container h2 {
  font-family: Fraunces, sans-serif;
  color: hsl(212, 27%, 19%);
  font-size: 2rem;
  margin: 0;
}

.container h3 {
  font-family: Fraunces, sans-serif;
  margin: 0.75rem;
}

.container h4 {
  font-family: Barlow, sans-serif;
  color: hsl(210, 4%, 67%);
  margin: 0;
}

.container p {
  margin: 30px 0;
  font-family: Barlow, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  color: hsl(232, 10%, 55%);
}

.container a {
  font-family: Fraunces, sans-serif;
}

/*
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.heroContainer {
  max-width: 500px;
  min-width: 320px;
  /* max-height: 680px; */
}

.heroTitle {
  position: absolute;
  top: 150px;
  margin: 0 auto;
  width: 100%;
  height: 150px;
  color: white;
  font-size: 3rem;
  text-align: center;
}

.heroArrow {
  color: black;
}

.heroImage {
  width: 100%;
}

.heroImage img {
  display: block;
  width: 100%;
  height: 100%;
}

.benefitsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  min-width: 320px;
  text-align: center;
}

.transformImage {
  width: 100%;
}

.transformImage img {
  display: block;
  width: 100%;
  height: 300px;
}

.transformText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 60px 0;
}

.standoutImage {
  width: 100%;
}

.standoutImage img {
  display: block;
  width: 100%;
  height: 300px;
}

.standoutText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 60px 0;
}

.graphicDesign img {
  display: block;
  width: 100%;
}

.photography img {
  display: block;
  width: 100%;
}

.testimonialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  min-width: 320px;
  text-align: center;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 60px 0;
}

.testimonialContainer h2 {
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 0.35rem;
  color: hsl(210, 4%, 67%);
  padding-top: 60px;
}

.testimonial img {
  border-radius: 50%;
  height: 85px;
  width: 85px;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 500px;
  min-width: 320px;
  line-height: 0;
}

.gallery img {
  margin: 0;
  padding: 0;
  width: 50%;
}

/* RESPONSIVE CSS */
